[Desktop Entry]
Name=Steam Skin Manager
Name[cs_CZ]=Správce Vzhledu pro Steam
Comment=A tool for managing Steam skins.
Exec=/usr/bin/SteamSkinManager %U
Icon=steamskinmanager
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
X-GNOME-Settings-Panel=steamskinmanager
MimeType=x-scheme-handler/ubuntusteamskin

