/* Steam Skin Manager HELP section styles */

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: "Ubuntu", Arial, sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #333;
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#page {
	min-height: 100%;
}

#page h1 {
	font-weight: 300;
}

#page article {
	padding: 10px 40px;
}

#page article a {
	text-decoration: underline;
}

ul#menu {
	display: block;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

ul#menu li {
	display: inline-block;
	margin: 5px;
	padding: 20px;
	width: 200px;
	height: 150px;
	text-align: left;
	color: #333;
	background-color: #eee;
	border-radius: 2px;
	vertical-align: top;
}

ul#menu li:hover {
	box-shadow: 0 0 2px #8ac;
}

ul#menu li.altered {
	box-shadow: 0 0 1px #ccc;
}

ul#menu li.altered:hover {
	padding-bottom: 0px;
	border-bottom: 20px solid #fff;
}

ul#menu li h2 {
	font-size: 1.4em;
	font-weight: 400;
	text-align: center;
}

ul#menu li span {
	font-weight: 300;
	color: #888;
}

ul#menu li span i {
	font-size: 0.8em;
}

header {
	text-align: center;
}

footer {
	display: block;
	padding: 0 10px;
	text-align: center;
	border-top: 1px solid #eee;
}

footer a {
	display: inline-block;
	padding: 10px;
	background-color: #fff;
}
